body {
  font-family: "Amiri", serif;
  background: #f6f6f6;
  padding: 15px;
}

h1 {
  text-align: center;
  color: #0a7d4f;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

.box {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.box h2 {
  color: #444;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
